// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-grey-light-1:#f7f7f7;
$color-white: white;
$color-black: #000;
$color-secondary-light:#ff5900a0;
$color-secondary-dark:#ff5900;
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;



// grid
$grid-width:114rem;
$space-vertical:8rem;
$space-horizontal:6rem;

// font
$default-font-size: 1.6rem;